body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#map {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

#info {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 20px;
	background: rgba(255,255,255,0.9);
	color: #282828;
	border-radius: 5px;
	width: 200px;
	z-index: 1000;
}

#info h4 {
	margin: 0 0 0;
}

#animate {
	position: fixed;
	width: 100%;
	bottom: 0%;
	padding: 1em;
	box-sizing: border-box;
	background: rgba(255,255,255,0.8);
	z-index: 1000;
	display: flex;
	align-items: center;
}
#animate > * {
	margin: 0 1em;
}

.leaflet-bottom.leaflet-left{
	width: 100%;
}
.leaflet-control-container .leaflet-timeline-controls{
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	margin-bottom: 15px;
}

.input-wrapper {
	margin: 0.8em 0;
}

.info-button {
	display: block;
	background-color: #2b5696;
	color: white;
	border-style: none;
	border-radius: 3px;
	padding: 5px 10px;
	margin-top: 0.8em;
	width: 100%;
}

.overlay {
	background-color: #333333;
}

.speed {
	margin-left: 10px;
}

.slidecontainer {
	flex-grow: 2;
}

.playpause label {
	float:left;
	margin-right: 10px;
	display: block;
	box-sizing: border-box;
	width: 0;
	height: 40px;
	border-color: transparent transparent transparent #393939;
	transition: 100ms all ease;
	cursor: pointer;
	border-style: double;
	border-width: 0px 0 0px 30px;
}
.playpause input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}
.playpause input[type="checkbox"]:checked + label {
	border-style: solid;
	border-width: 20px 0 20px 30px;
}
.playpause input[type="checkbox"]:focus + label {
	box-shadow: 0 0 5px lightblue;
}

.leaflet-control-layers-expanded {
	background: rgba(255,255,255,0.8);
}

.time-slider::-moz-focus-outer {
	border-style: none;
}
.time-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #1b1b1b;
	cursor: pointer;
}
.time-slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #1b1b1b;
	cursor: pointer;
	border-style: none;
	outline: none;
}

.toast {
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 30px;
}

input[type=number]{
	width: 45px;
}

label{
	display: inline-block;
	width: 50px;
	font-size: 0.9rem;
}
label-big{
	display: inline-block;
	width: 50px;
}
input[type=date] {
	display: inline-block;
}

input[type=submit] {
	display: block;
}