aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs

# Build outputs
*.la
*.a
*.lo
*.o

*.Po
*.Plo


# General files
*~

# source files
POINTS.DAT
html/points.json
html/poffsets.json

rdslog/src/rdslog
tmcimport/src/tmcimport
tmcwebserver/src/tmcwebserver

# spooky build artefact
stamp-h1

# unknown
*.Tpo