aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs

# Build outputs
*.la
*.a
*.lo
*.o

*.Po
*.Plo


# General files
*~

rdslog/src/rdslog
tmcimport/src/tmcimport

# spooky build artefact
rdslog/stamp-h1
rdslog/example.txt

# spooky build artefact
tmcimport/stamp-h1

# unknown
*.Tpo