aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs

# Build outputs
*.la
*.a
*.lo
*.o

*.Po
*.Plo


# General files
*~

# source files
POINTS.DAT
POFFSETS.DAT
EVENTS.DAT
points.json
poffsets.json

tmclog/src/tmclog
tmcimport/src/tmcimport
tmcwebserver/src/tmcwebserver

# spooky build artefact
stamp-h1

# unknown
*.Tpo
