Source: rdsd
Section: misc
Priority: extra
Maintainer: Hans J. Koch <hjkoch@users.berlios.de>
Build-Depends: debhelper (>= 7.0.15)
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/rdsd/trunk/
Vcs-Browser: http://svn.berlios.de/viewsvn/rdsd/trunk/
Homepage: http://rdsd.berlios.de

Package: librds
Architecture: any
Description: RDS libraries
 This package contains the RDS libraries.
