body {
	margin:0;
	padding:0;
}
#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}
.info {
    padding: 6px 8px;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 16vw;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}