body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
#info {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 6px 8px;
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    width: 200px;
    z-index: 1000;
}
#info h4 {
    margin: 0 0 0;
    color: #777;
}